My workflow.fixed.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza las siguientes reviews de clientes y genera un informe profesional con los aspectos a mejorar de la empresa.\nCOMENTARIOS:\n\"\"\"\"\"\"\n{{ JSON.stringify($json.reviews) }}\n\"\"\"\"\"\"\nESTOS SON LOS DATOS DEL NEGOCIO MENCIONADO:\n\"\"\"\"\"\"\n{{ $('DATOS ID').item.json.name }}\n{{ JSON.stringify($('DATOS ID').item.json.osm.tags) }}\nScore_digital: {{ $('DATOS ID').item.json.score }}\nSubcategoria negocio: {{ $('DATOS ID').item.json.subcategory }}\n\"\"\"\"\"\"\n\nInstrucciones del analisis:\n\nIdentifica los problemas mas mencionados o mas graves.\nResume los patrones negativos y su impacto en la experiencia del cliente.\nDetecta causas raiz (operativas, humanas, de comunicacion, procesos, etc.).\nPropon mejoras concretas, accionables y medibles.\nSi hay solo una review, extrapola riesgos potenciales.\nSi hay contradicciones, indicalas.\nManten un tono profesional y orientado a negocio.\nTambien ten en cuenta que madurez digital tiene, y que falta para ser un negocio activo digitalmente.\n\nFormato de salida obligatorio:\n\nResumen ejecutivo (max. 5 lineas)\nProblemas detectados (lista priorizada)\nCausas raiz probables\nRecomendaciones accionables\nIndicadores sugeridos para medir mejora (KPIs)\n\nObjetivo final: ofrecer un diagnostico claro que ayude a mejorar la calidad del servicio y la satisfaccion del cliente.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        96
      ],
      "id": "9d5aab76-2583-4f86-ab28-3512f9b110b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "=llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        944,
        320
      ],
      "id": "c508de7e-568d-45ad-9d8d-256975dff893",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oatSsLCu7HddpDeS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2c9f55c-ca19-4d21-a64e-05faec7f4f72",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c58aca75-329a-4deb-8e76-7c1ea647f763",
      "name": "Webhook",
      "webhookId": "a2c9f55c-ca19-4d21-a64e-05faec7f4f72"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc0ccf30-764e-46e4-a544-863a76411d89",
              "name": "osm",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "42ad2a2e-f84e-413e-9489-123aaaf71f1b",
              "name": "shop_id",
              "value": "={{ $json.body.shop_id || $json.body.shopId || '' }}",
              "type": "string"
            },
            {
              "id": "772b4a9a-f635-4f09-bb30-8063908dfb0a",
              "name": "osm_id",
              "value": "={{ $json.body.osm_id || $json.body.osmId || $json.body.id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0cab2f78-da9f-4df2-95df-f8a79b1a1056",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "shop_reviews",
        "options": {},
        "query": "={\"shop_id\":\"{{$json._id}}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        624,
        96
      ],
      "id": "d0b99912-b27b-45fc-8f2f-339517cb50f0",
      "name": "Find documents1",
      "credentials": {
        "mongoDb": {
          "id": "iGzc9hMO15rGGe0y",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "shops",
        "options": {
          "limit": 1
        },
        "query": "={\"$and\":[{\"active\":true},{\"$or\":[{\"_id\":\"{{$json.shop_id}}\"},{\"osm.id\":\"{{$json.osm_id}}\"}]}]}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        400,
        0
      ],
      "id": "cd3d076d-76a6-48b0-b1ad-84d218306c4d",
      "name": "DATOS ID",
      "credentials": {
        "mongoDb": {
          "id": "iGzc9hMO15rGGe0y",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        1168,
        304
      ],
      "id": "131f137f-8233-4501-b591-5a519d82342d",
      "name": "Item List Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "DATOS ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS ID": {
      "main": [
        [
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "86739e6f-046e-4768-9279-a50922b4f0c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "826a24a1237f6ab900e584df8a7c622b1dc399c4add7799f1ece0acf74e3a610"
  },
  "id": "DqhQD1gMNAZVpMBs",
  "tags": []
}
